<!-- For easy visualisation -->
<style>body { background: red; }</style>

<!-- This is what is inside the o-ads-embed creative wrapper in DFP -->

{{! <!-- Test with local script --><script src="/build/main.js"></script> }}
<!-- Test with live script --><script src="//www.ft.com/__origami/service/build/v2/bundles/js?modules=o-ads-embed@^3.0.0"></script>
<script>
	if (window !== window.top) {
		window.Origami['o-ads-embed'].init();
	}
</script>
<h1>Mock Ad</h1>
<p>This is a simulation of what DFP would load as an ad, with a cretive wrapper around it.</p>
<p>And some more content</p>
<p>to push the ad down</p>
<p>a little bit</p>
<p>and a little bit more</p>
<p>just to make</p>
<p>it visible</p>
