<!-- For easy visualisation -->
<style>body { background: red; }</style>

<!-- This is what is inside the o-ads-embed creative wrapper in DFP -->
<script src="/build/main.js"></script>
<script>
	console.log(window.Origami);
	if (window !== window.top) {
		window.Origami['o-ads-embed'].init();
		window.oAds = Origami['o-ads-embed'];
	}
</script>
<h1>Hey there just testing</h1>
<p>Some content</p>
<p>Some content</p>
<p>Some content</p>
<p>Some content</p>
<p>Some content</p>
<p>Some content</p>
<p>Some content</p>
<p>Some content</p>
<p>Some content</p>
<p>Some content</p>
<p>Some content</p>
<p>Some content</p>
